
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Proje/css/form.css">
    <link rel="stylesheet" href="~/Proje/css/index.css">
</head>
<body>

    <header>

        <div class="navbar1">
            <nav>
                <h2><a href="/Movie/MovieCard">TavsiyeFilmlerim.com</a></h2>
                <p class="yazi"><small>"En yeni filmleri bulabileceğiniz güncel film tavsiyeleri!"</small></p>
            </nav>
        </div>

    </header>

    <main>
        <div class="container">

            <form action="" class="form1" method="post">
                <label for="ad">Film adı:</label> <br>
                <input type="ad" class="inputg" name="MovieName"><br>
                <label for="ad">film süresi:</label> <br>
                <input type="ad" class="inputg" name="Duration"><br>
                <label for="ad">Film kategorisi:</label> <br>
                <input type="ad" class="inputg" name="CategoryName"><br>
                <label for="ad">Film ön açıklaması:</label> <br>
                <input type="ad" class="inputg" name="ShortDescription"><br>
                <label for="ad">Film uzun açıklaması:</label> <br>
                <input type="ad" class="inputg" name="LongDescription"><br>
                <label for="ad">Film puanı:</label> <br>
                <input type="ad" class="inputg" name="Score"><br>
                <label for="ad">Film oyuncuları:</label> <br>
                <input type="ad" class="inputg" name="ActressName"><br>
                <label for="ad">film yönetmeni:</label> <br>
                <input type="ad" class="inputg" name="DirectorName"><br>
                <label for="ad">Film poster url:</label> <br>
                <input type="ad" class="inputg" name="ImageUrl"><br>
                <label for="ad">Film trailer:</label> <br>
                <input type="ad" class="inputg" name="Trailer"><br>
                <label for="ad">Film çıkış tarihi:</label> <br>
                <input type="ad" class="inputg" name="ReleaseDate"><br>
                <button class="btn">yükle</button>
            </form>

            <br /><br /><br />


        </div>
    </main>

</body>
</html>